@CHARSET "UTF-8";

* {
    font-family: Helvetica, sans-serif;
}

.asection {
    float: left;
    width: 100%;
    min-width: 50em;
    /*padding-left:1em;*/
    padding-top: 1em;
    padding-bottom: 1em;
}

.inputdigits{
  width: 2.2em;
  text-align: right;
  font-size: 1em;
  font-weight: bold;
  margin-left:0em;
}

.logerror{
  color:red;
  background-color:#f5f5f5;
  font-family:monospace;
  width: 100%
}

.iconpadding{
  padding-left: 0.7em;
}
.parameter{
  width: 7em; 
  float: left;
  font-size: 1.5em;
  /*font-weight: bold;*/
  margin:0.7em;
}
.displayvalue{
  font-size: 1.5em;
  /*font-weight: bold;*/
}
.paramicon{
  width:3em; 
  height:3em;
}

.gi-2x{
  font-size: 2em;
  line-height: inherit;}
.gi-3x{
  font-size: 3em;
  line-height: inherit;
}
.gi-4x{
  font-size: 4em;
  line-height: inherit;
}

.disabled {
   color: darkgrey;
}

pre {
  display:block; 
  white-space: pre-wrap;  
  min-width: 54em ;
  width:100%;
}

select{
  width: 3.5em;
  text-align: right;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Helvetica;
  margin:0.7em;
}

em{
  cursor:help;
}

input:invalid{
  color: red;
}
